<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('{% static "image/homepage.jpg" %}');
          background-size: cover;
          background-repeat: no-repeat;
        }
</style>
<body>
  {% include "insurance/navbar.html" %}
<br>
<section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
  <div class="container text-center">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
  </div>  
</section>


<div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

  <p class="lead text-center"> “Leave Sooner Drive Slower Live Longer.”
    </p>
  
  <p class="text-center">- MVD</p>
  
</div>
  {% include "insurance/footer.html" %}


</body>

</html>


<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "insurance/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron text-center" style="margin-bottom: 0px;margin-top: 0px;">
    
    <p class="lead">“Every month that you send a check to our company, you're making a bet with us. Don't worry, one day you'll win.”</p>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
    <br><br><br><br>
  </div>

  {% include "insurance/footer.html" %}
</body>

</html>
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




</head>

<body>

  {% include "insurance/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Send Us Your Valuable Feedback !</h3>

    <form method="POST" autocomplete="off">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <input type="submit" value="Send Message" class='btn btn-primary btn-lg'>
      </div>
    </form>
  </center>
